/**
 * Reset some basic elements
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $dark-grey;
  background-color: $background-color;
  width: 100vw;
}

p {
  padding-bottom: 0.5em;
  line-height: 1.75em;
}
/**
 * Images
 */


/**
 * Lists
 */


/**
 * Headings
 */
h1,
h2,
h3 {
  color: $dark-grey;
}

h1 {
  font-size: $base-font-size / 0.5;
  font-family: $bold-font-family;
  font-weight: 700;
}

h2 {
  font-size: $base-font-size / 0.75;
  font-weight: 600;
}

h3 {
  font-size: $base-font-size / 0.8;
  font-weight: 500;
}


/**
 * Links
 */
a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

}
