$dusk-color: rgb(120, 107, 120);

.dusk {
  background-color: $dusk-color;
}

.dusk > container {
  background-color: lighten($dusk-color, 10%);
  box-shadow: 0 1em 3em darken( $dusk-color, 10% );
  h1, p, #breadcrumbs, .copyright {
    color: darken( $dusk-color, 25% );
  }
  .chapter-number, .advance {
    color: darken( $dusk-color, 15% );
  }
}

$nord-color: rgb(101, 128, 168);

.nord {
  background-color: $nord-color;
}

.nord > container {
  background-color: lighten($nord-color, 10%);
  box-shadow: 0 1em 3em darken($nord-color, 10%);
  h1, p, #breadcrumbs, .copyright {
    color: darken($nord-color, 25%);
  }
  .chapter-number, .advance {
    color: darken($nord-color, 15%);
  }
}
