/**
* Site header
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: ($spacing-unit * 1.2);
}

.author {
  font-size: $base-font-size * 1.2;
  padding-top: ($spacing-unit / 2);
  color: $light-grey;
}

/**
* Content (Home)
*/

.subtitle {
  color: $light-grey;
  padding-top: ($spacing-unit / 5);
  font-size: $base-font-size;
}

/**
* Site footer
*/
.advance {
  font-size: $base-font-size * 1.2;
  color: $light-grey;
}

.dividers {
  color: $grey;
  user-select: none;
}

footer {
  border-top: $grey 1px solid;
  padding: $spacing-unit 0;
}
.chapter-number {
  color: $light-grey;
  padding-bottom: ($spacing-unit/8);
}

#breadcrumbs {
  font-size: $base-font-size * 1.1;
  padding: 0 0 $spacing-unit/3 0;
}

#breadcrumbs > a {
  text-decoration: underline;
}

.copyright {
  font-size: $base-font-size * 1.1;
}
