/**
* Site header
*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.subtitle {
  color: $grey;
}

/**
* Page content
*/
container {
  display: grid;
  max-width: $content-width;
  margin: 0 auto;
  padding: 72px 0;
}

.section {
  padding-bottom: 20px;
}

/**
* Home Page
*/
.page-thumbnail-link {
  color: $dark-grey;
  margin-top: 12px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-align: left;
  border-radius: 12px;
}

.page-thumbnail-link>a {
  width: 100%;
  text-decoration: none;
}

.page-flex {
  display: flex;
  flex-direction: row;
}

.page-thumbnail {
  width: 52px;
  height: 66px;
  box-shadow: 0 0 0 1px grey, 0 1px 4px black;
  border-radius: 4px;
  margin-right: 16px;
  flex-shrink: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  background-color: $background-color;
}

.page-thumbnail .scaled-container {
  width: $content-width;
  transform: scale3d(.07222, .07222, 1);
  transform-origin: top left;
}

.scaled-container {
  font-size: 30px;
  max-width: 720 * 0.75;
  margin: 0 auto;
  padding: 72px 24px;

}

.scaled-container>.title {
  font-size: 50px;
  line-height: 1;
  color: $dark-grey;
}

.title {
  color: $light-grey;
}

.section p {
  color: $dark-grey;
}

.preview-content {
  transform-origin: 50% 50% 0px;
}

.preview-content .paragraph {
  margin: 16px 0;
  color: $dark-grey;
}

.preview-content>.paragraph {
  max-width: 540px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  line-height: 24px;
}

/**
* Site footer
*/

footer {
  border-top: solid 1px black;
}

.nord {
  background: rgb(205,235,249);
}

.dusk {
  background: #E8E4E9;
}
