@charset "utf-8";

// Import Fonts
@font-face {
  font-family: "Iowan";
  src: url(../../assets/fonts/iowan.woff2);
}

@font-face {
  font-family: "Iowan Italic";
  src: url(../../assets/fonts/iowan-italic.woff2);
}

@font-face {
  font-family: "Iowan Bold";
  src: url(../../assets/fonts/iowan-bold.woff2);
}

@font-face {
  font-family: "Iowan Bold Italic";
  src: url(../../assets/fonts/iowan-italic-bold.woff2);
}

// Define defaults for each variable.
$base-font-family: "Iowan";
$italic-font-family: "Iowan Italic";
$bold-font-family: "Iowan Bold";
$bold-italic-font-family: "Iowan Bold Italic";
$base-font-size: 14px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 2em !default;

// Width of the content area
$content-width: 720px !default;

$on-palm: 400px !default;

// Import pre-styling-overrides hook and style-partials.
@import "wealthy/base", // Defines element resets.
"wealthy/layout"; // Defines structure and style based on CSS selectors.
