---
layout: default
---
	<!-- {{ content }} -->

<div class="section">
	{% if site.paginate %}
	{% assign chapters = paginator.chapters %}
	{% else %}
	{% assign chapters = site.chapters | sort: 'chapter' %}
	{% endif %}
	{%- if chapters.size > 0 -%}
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	{%- for chapter in chapters -%}
	<div class="page-thumbnail-link">
		<a href="{{ chapter.url | relative_url }}">
			<div class="page-flex">
				<div class="page-thumbnail">
					<div class="scaled-container">
						<div class="title">{{ chapter.title | escape }}</div>
						<div class="preview-content">{{ chapter.content }}</div>
					</div>
				</div>
				<div class="page-info">
					<h2>{{ chapter.title | escape }}</h2>
					<div class="subtitle">Chapter {{ chapter.chapter | escape }}</div>
				</div>
			</div>
		</a>
	</div>
	{%- endfor -%}
	{%- endif -%}
</div>
